<p> <a href="https://chris18191.bitbucket.io/SchlagDenX/HerkunftRaten/herkunftRaten.html">HerkunftRaten</a></p>
<p> <a href="https://chris18191.bitbucket.io/SchlagDenX/HerkunftRaten/orte.txt">Orte</a></p>