<p> <a href="https://chris18191.bitbucket.io/SchlagDenX/Buzzer/buzzer.html">Buzzer</a></p>
<p> <a href="https://chris18191.bitbucket.io/SchlagDenX/PunkteAnzeige/anzeige.html">Anzeige</a></p>
<p> <a href="https://chris18191.bitbucket.io/SchlagDenX/HerkunftRaten/index.html">HerkunftRaten</a></p>